/* #region Base style */
body {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
}
/* container*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.button {
  cursor: pointer;
}

/* #endregion */

/* redion header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu-a {
  padding: 24px 0;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-menu-a:hover,
.nav-menu-a:focus {
  color: #404bbf;
}
.current {
  color: #404bbf;
}
/* endregion */

/* region logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
/* endregion */

/* region addrress */
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-mail .address-tel {
  display: block;
  padding: 24px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
  color: #404bbf;
}

/* endregion */

/* redion Hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-text {
  max-width: 498px;
  margin: 0 auto 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
/* endregion */

/* #region Buttons */
.button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
/* button hover| focus */
.button:hover,
.button:focus {
  background: #404bbf;
}

/* #endregion */

/* #region Benefits */
.benefits {
  color: #ffffff;
  padding: 120px 0;
}
.benefits-title {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.benefits-list {
  display: flex;
  gap: 24px;
  color: #2e2f42;
}
.benefits-item {
  width: calc((100%-72px) / 4);
}

.benefits-subtitle {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.benefits-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
/* #endregion */

/* region team */
.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  margin-bottom: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-subtitle {
  margin-top: 32px;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  overflow: hidden;
}
.team-img {
  display: block;
}

.team-text {
  margin-bottom: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* endregion */

/* region portfolio */
.portfolio {
  background: #fff;
  padding: 120px 0;
}
.portfolio-title {
  margin-bottom: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100%-48px) / 3);
}
.portfolio-img {
  display: block;
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: nome;
}
.portfolio-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* endredion */

/* region footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 16px;
}
.logo-light {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* endregion */
