/* #region Base style */
body {
    font-family: 'Roboto' ,sans-serif;
    color: #434455;
    background-color: #FFFFFF;}
    /* Reset */
ul, 
ol {list-style-type: none;}
a{
    text-decoration: none;
    color: currentColor;
}
.button { 
    cursor: pointer;}

address {
    font-style: normal;}
/* #endregion */

/* region header */
.nav-menu-a {font-family: "Roboto", sans-serif;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}
.nav-menu-a:hover,
.nav-menu-a:focus { color:  #404bbf;}
.current { color: #404bbf;}
/* endregion */

/* region logo */
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-dark { font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
/* endregion */

/* redion address */
.address-mail,
.address-tel {font-family: 'Roboto', sans-serif;
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus { color:#404bbf;
}
   
/* endregion */

/* redion Hero */
.hero{ background-color: #2E2F42;
font-size: 36px;}
.hero-text{ font-family: "Roboto", sans-serif;
font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}
/* endregion */

/* #region Buttons */
.button { background-color: #4D5AE5;
color: #fff;
font-family: "Roboto", sans-serif;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
/* button hover| focus */
.button:hover,
.button:focus {
        background: #404bbf;
    }

/* #endregion */

/* #region Benefits */
.benefits {color: #FFFFFF;}
.benefits-title { font-family: "Roboto", sans-serif;
    color: #2E2F42;}

.benefits-list {color: #2E2F42;}

.benefits-subtitle { font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.benefits-text { font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}
/* #endregion */

/* region team */
.team {background: #f4f4fd;}
.team-title {font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}
.team-subtitle {font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;}
.team-item { background: #fff;}
 .team-text {font-family: "Roboto", sans-serif;
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;}       
/* endregion */

/* region portfolio */
.portfolio {background: #fff;}
.portfolio-title {font-family: "Roboto", sans-serif;
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}
.portfolio-subtitle { font-family: "Roboto", sans-serif;
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}
.portfolio-text {font-family: "Roboto", sans-serif;
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

/* endredion */

/* region footer */
.footer {background-color: #2E2F42; }

.logo-light {font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;}

.footer-text {font-family: "Roboto", sans-serif;
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;}
/* endregion */